@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: rgb(16, 32, 45);
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #fff;
}

button {
  padding: 13px;
  width: 300px;
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 30px;
}

button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
/* blobs */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.shape:nth-of-type(1) {
  width: 400px;
  height: 400px;
  background: linear-gradient(64deg, #f34868 23%, #f24768 23%, #9e00ec 80%);
  animation: wave 8s ease-in-out infinite;
}

.shape:nth-of-type(2) {
  width: 800px;
  height: 800px;
  background: #7998ff;
  position: absolute;
  top: -200px;
  left: -400px;
  opacity: 0.2;
  z-index: -1;
  animation: wave 5s ease-in-out infinite;
}
.shape:nth-of-type(3) {
  width: 500px;
  height: 500px;
  background: #379eff;
  position: absolute;
  bottom: -25%;
  right: -5%;
  opacity: 0.3;
  z-index: -1;
  animation: wave 12s ease-in-out infinite;
}
.shape:nth-of-type(4) {
  width: 250px;
  height: 250px;
  /* background: #fbff0d; */
  background: linear-gradient(64deg, #edf6e5 23%, #edf6e5 23%, #f38ba0 80%);
  position: absolute;
  bottom: -120px;
  left: 50%;
  opacity: 0.8;
  z-index: -1;
  animation: wave 6s ease-in-out infinite;
}
.shape:nth-of-type(5) {
  width: 350px;
  height: 350px;
  background: #ac0303;
  position: absolute;
  top: -8%;
  right: 10%;
  opacity: 0.4;
  z-index: -1;
  animation: wave 15s ease-in-out infinite;
}
.shape:nth-of-type(6) {
  width: 100px;
  height: 100px;
  background: #9e00ec;
  position: absolute;
  top: 40%;
  right: 25%;
  opacity: 0.5;
  z-index: -1;
  transform: rotate(90deg);
  animation: wave 15s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
  }
  50% {
    border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}

/* end blobs */
